* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Main-80: #cfd2c6;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-container {
  height: 100vh;
  background-image: url("./assets/Full-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  max-width: 1760px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#left-side {
  min-width: 186px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#left-side li a {
  text-decoration: none;
  color: var(--Main-80);
  font-size: 16px;
}

#title {
  font-family: "Elsie", serif;
  color: var(--Main-80);
  font-size: 32px;
  font-weight: 600;
}

#right-side {
  min-width: 205px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 10px;
}

#right-side li a {
  text-decoration: none;
  color: var(--Main-80);
  font-size: 16px;
}

.main-text h1 {
  max-width: 909px;
  height: 192px;
  font-size: 80px;
  color: var(--Main-80);
  line-height: 120%;
  text-transform: capitalize;
  margin-top: 115px;
  margin-left: 10px;
}
